<h3> Access Denied </h3>

<p> The user <%= current_user.name %> (<%= current_user.email %>) does not have sufficient privilege to make this request </p>

<%= link_to 'Back to homepage', welcome_index_path %>