<div>
	<%= image_tag "mainpic.jpg", class: "pull-right main-pic" %>

	<h1>Hello and welcome to my page!</h1>

	<div class="main-content">
		<p> My name is Ben Borchard and I am a software engineer living in the Greater Boston Area.  I enjoy guitar, squash, ultimate frisbee, video games, open source technology, cooking, and writing. </p>

		<p> This site currently exists mostly an exersize for me on creating a ruby on rails web application, but hopefully you can get something out of it!  If you have any suggestions, comments, or just want to say hey, you can reach me at 
			<a href="mailto:ben.borchard@gmail.com" target="_top">ben.borchard@gmail.com</a>.  The code for this site is available  
			<a href='https://github.com/ben-borchard/Ben-Borchard'>here</a>.</p>
	</div>
</div>

<div>
	<h3>Check out <%= link_to 'my blog', controller: 'articles' %>!</h3>
	
</div>